@import url('https://fonts.googleapis.com/css2?family=Knewave&family=Press+Start+2P&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    box-sizing: border-box;
}
body{
    background-image: url(img/backgif.gif);
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-family:"Press Start 2P", systme-ui;
    font-weight: 400;
    font-style: normal;
}
.backgroundbox-1{
    background-color: rgba(114, 175, 231, 0.247);
    padding: 20px;
    width: 100%;
    height: 60vh;
    margin: 50px;
}
section{
    position: relative;
    width: calc(min(47rem,90%));
    margin: 0 auto;
    min-height: 100vh;
    column-gap: 3rem;
    padding-block: min(20vh, 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: -200px;
}
.swiper-container{
    position: relative;
}
.swiper{
    width: 100%;
    padding:60px 0 95px 0;
}
.swiper-slide{
    width: 10rem;
    height: 21rem;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    position: relative;
}
.swiper-slide .slide-content{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -45%);
    width: 100%;
}
.swiper-slide .slide-content img {
    width: 100%;
    border-radius: 10px;
}

@media(min-width:760px){
    .swiper-button-prev,
    .swiper-button-next{
        display: flex;
    }
}

 .text{
    width: 100%;
    border-spacing: 0;
}
.text td {
    width:50%;
    vertical-align: top;
}
.right{
    text-align: center;
}
a{
    z-index: 1000;
}
.text-2{
    margin:40px;
}
.text-2border{
    margin-top: 100px;
    padding:10px 500px;
    border-radius: 10px;
    border: 3px solid red;
    width:100%;
    
    
}
.text-photo {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 40px 0;
    padding: 20px;
}
.text-side{
    flex:1;
    text-align: left;
}
.image-side{
    flex:1;
}
.image-side img {
    width:100%;
    max-width: 40rem;
    height:30rem;
    border-radius:10px;
}
.text-3{
    margin:40px;
}
.text-3border{
    padding:20px 500px;
    border-radius: 10px;
    border: 3px solid violet;
    width:100%;
}